{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["src"]
      }
    ]
  ],
  "presets": [
    [
      "env",

    ]
  ],
  "env": {
    "test": {
      "presets": [["env"]]
    }
  }
}
